$orange: #ffd40d;
$darkOrange: #fca909;

$bgColor: #fff;
$slideBgColor: #f7f7f7;
$fontColor: #333;
$mainColor: $orange;
$mainDColor: $darkOrange;

$zIndexNav: 980;
$zIndexOperation: 990;
$zIndexDialog: 990;
$zIndexPage: 990;
$zIndexSupTop: 1000;